<!--
<div class="container">
  <app-template-driven></app-template-driven>
  <app-botao-grande label="Apps"></app-botao-grande>
  <app-funcionario-form></app-funcionario-form>
  <app-menu></app-menu>
  <app-funcionario-card></app-funcionario-card>
  <app-bem-vindo></app-bem-vindo>
  <app-cidades></app-cidades>
</div>
  -->
<app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <section class="content">
    <p>content ...</p>
  </section>
</div>
<app-appfooter></app-appfooter>
<app-appsettings></app-appsettings>

<app-bem-vindo></app-bem-vindo>
