<div class="alert alert-success" role="alert">
  Meu nome é {{nome}} e sobrenome é {{sobrenome}}
</div>

<div class="alert alert-success" role="alert" *ngIf="adicionado">
  Meu apelido é {{apelido}}
</div>

<div class="form-group">
  <label for="inNome">Nome</label>
  <input type="text" class="form-control" id="inNome"
         placeholder="Informe o nome" (input)="alterarNome($event)" value="{{nome}}">
</div>

<div class="form-group">
  <label>Sobrenome</label>
  <input type="text" class="form-control" [(ngModel)]="sobrenome">
</div>

<button type="button" class="btn btn-primary" (click)="adicionar()" [disabled]="nome.length == 0">Adicionar</button>

<div class="form-group">
  <label>Apelido</label>
  <input type="text" class="form-control" #apelidoInput (focus)="adicionado = false">
</div>
<button type="button" class="btn btn-primary" (click)="adicionarApelido(apelidoInput.value)">Apelido</button>

