<div class="container">
  <form #f="ngForm">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" ngModel name="nome" #nome="ngModel" required>
        <app-message [control]="nome"
                     error="required"
                     text="Informe um nome"></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" ngModel name="logradouro" #logradouro="ngModel" required>
        <app-message [control]="logradouro"
                     error="required"
                     text="Informe um logradouro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" ngModel name="numero" #numero="ngModel" required>
        <app-message [control]="numero"
                     error="required"
                     text="Informe um número"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" ngModel name="bairro" #bairro="ngModel" required>
        <app-message [control]="bairro"
                     error="required"
                     text="Informe um Bairro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999" ngModel name="cep" #cep="ngModel" required></p-inputMask>
        <app-message [control]="cep"
                     error="required"
                     text="Informe um CEP"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input pInputText type="text" ngModel name="cidade" #cidade="ngModel" required>
        <app-message [control]="cidade"
                     error="required"
                     text="Informe um Cidade"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <input pInputText type="text" ngModel name="estado" #estado="ngModel" required>
        <app-message [control]="estado"
                     error="required"
                     text="Informe um Estado"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
